/* .Copyrights {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #02294F, rgba(9, 14, 16, 0.0));
    background-size: 100% 100%; 
    background-repeat: no-repeat;
} */